
{% load static%}
{% include 'messages.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>deal_registerpage</title>
    
    <link rel="stylesheet" href="{% static 'src/styles/style.css' %}">
    
  </head>
  <body>

    
	<section class="reg_main"  >

        <div class="reg_img">
			<img src="{% static 'src/images/register.jpg' %}" alt="">
		</div>
	
		<form class="form" action="{% url 'deal_register' %}" method="post">
		
			{% csrf_token %}
			
			<p class="title">Register </p>
				
                <label for="merchant_type">merchant_type</label>
                    <select class="input" name="merchant_type" required>
                		{% for choice in choices %}
                		<option value="{{ choice.0 }}">{{ choice.1 }}</option>
                		{% endfor %}
                        
                    </select>
                
				<label>
					<input class="input" type="text" placeholder="" required="" name="merchant_name">
					<span>Merchant Name</span>
				</label>
                <label>
					<input class="input" type="text" placeholder="" required="" name="merchant_address">
					<span>Merchant Address</span>
				</label>
		
	
				<label for="city">
					<input type="text" class="input" name="city" placeholder="Enter your city" required>
					</label>
			    <label>
				<input class="input" type="number" placeholder="" required="" name="phone">
				<span>Phone</span>
			    </label>
			
					
			<label>
				<input class="input" type="email" placeholder="" required="" name="email">
				<span>Email</span>
			</label> 
			<label>
				<input class="input" type="text" placeholder="" required="" name="uname">
				<span>Username</span>
			</label> 
				
			<label>
				<input class="input" type="password" id="pass" placeholder="" required="" name="password">
				<span>Password</span>
			</label>
			<label>
				<input class="input" type="password" id="confirm_pass" placeholder="" required="" name="cpassword" >
				<span>Confirm password</span>
			</label>
			
			<input class="submit" type="submit" value="submit">
			
		</form>
	</section>
	
  </body>
</html>




   
    
