{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Outlet</title>
    <link rel="stylesheet" href="{% static 'src/styles/style.css' %}">
</head>
<body>
    <section class="sec_add_fields">
        <h1>Edit Outlet Contents</h1><br/><br/><br/>
        <form method="post" enctype="multipart/form-data" class="add_field_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="item-name">Item Name:</label>
                <input type="text" id="item-name" name="item-name" value="{{ edit_items.item_name }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required>{{ edit_items.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="item-price">Item Price:</label>
                <input type="number" id="item-price" name="item-price" value="{{ edit_items.item_price }}" required>
            </div>
            <div class="form-group">
                <label for="time-from">Time From:</label>
                <div class="time-inputs">
                    <input type="time" id="time-from" name="time-from" value="{{ edit_items.start_time|time:"H:i" }}" required>
                    <span>to</span>
                    <input type="time" id="time-to" name="time-to" value="{{ edit_items.end_time|time:"H:i" }}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="about">About:</label>
                <textarea id="about" name="about" rows="4" required>{{ edit_items.about }}</textarea>
            </div>
            <div class="form-group" id="currentImageContainer">
                {% if edit_items.item_img %}
                    <label>Current Image:</label>
                    <img src="{{ edit_items.item_img.url }}" alt="Current Item Image" style="max-width: 300px;">
                {% endif %}
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" name="image" id="image" accept="image/*">
            </div>
            <div class="form-group">
                <button type="submit">Save</button>
                <button type="submit" style='background-color:red;' >Cancel</button>

                {% comment %} <button type="button" style="background-color: red;" onclick="window.location.href='{% url 'outlet_list' %}'">Cancel</button> {% endcomment %}
            </div>
        </form>
    </section>
</body>
</html>
