<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>


    <style>
        .container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
h5.terms_h5 {
    font-size: 15px;
    font-family: system-ui;
}
h1.prvcy_head {
    font-family: system-ui;
}
a.hudls_link {
    text-decoration: none;
    color: #5a58db;
}
        </style>
        </style>
        
    <style>
        h6 {
            font-weight: normal;
            text-align: justify;
        }

        .loader-bg {
            position: fixed;
            z-index: 999999;
            background: #fff;
            width: 100%;
            height: 100%;
        }

        .loader-p {
            border: 0 solid transparent;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            position: absolute;
            top: calc(50vh - 75px);
            left: calc(50vw - 75px);
        }

        .loader-p:before,
        .loader-p:after {
            content: '';
            border: 1em solid #15e38a;
            border-radius: 50%;
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            animation: loader 2s linear infinite;
            opacity: 0;
        }

        .loader-p:before {
            animation-delay: 0.5s;
        }

        @keyframes loader {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: scale(1);
                opacity: 0;
            }
        }

        .services .icon img {
            margin-bottom: 10px;
            max-width: 50px;
            min-width: 50px;
        }

        @media screen and (max-width: 1000px) {
            .logo_img {
                margin-left: -100px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="prvcy_head"><strong>PRIVACY POLICY</strong> </h1>
        <h1 class="prvcy_head">PRIVACY POLICY OF HUDELS FOR ACCESS AND USE OF HUDELS WEBSITE/APP</h1>
        <h5 class="terms_h5">Last updated on 24-09-2024 22:34:05</h5> <br>

        <h5 class="terms_h5"><strong>HUDELS</strong> hereby declares its privacy policy as an electronic record in the form of electronic contract formed under the Information Technology
             Act 2000 and subsequently amended by Amendment Act, 2008 and Information and Technology Rules made thereunder as I.T. Rules 2011 amended subsequently in regard to electronic documents/records.
        </h5>

        <h5 class="terms_h5"><strong>Definitions :</strong></h5>

        <h5 class="terms_h5"><strong>We/Us/Our means : </strong>The HUDELS Website, App and it’s all online platforms owned and operated by Hudels Hospitality Services Pvt Ltd</h5>
        <h5 class="terms_h5"><strong>You/Your/Yourself means :</strong>The Registered Business establishments and customers/buyers with HUDELS website/App.
        </h5>
        <h5 class="terms_h5"><strong>Service means :</strong></h5>
        <h5 class="terms_h5">Website of <a class="hudls_link" href="www.hudels.com">www.hudels.com</a>  and mobile application of HUDELS. This page informs you of our policies regarding the collection, 
            use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We collect and generate various data points about you. 
            Data by which you are identified is termed as “Personal Data”. Personal Data means information that is not available or accessible in public domain. 
            Your Privacy is of utmost importance to us and protection of your Personal Data is a key commitment for us. We use your data to provide and improve the Service. 
            By using the Service, you agree by giving free consent to the collection and use of following information in the manner as narrated in accordance with this policy. 
            Unless defined otherwise in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions mentioned below:</h5>

            <h5 class="terms_h5"><strong>Personal Data :</strong></h5>
            <h5 class="terms_h5">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). 
                Personally identifiable information may include, but is not limited to:</h5>
        <h5 class="terms_h5">
            1 . Personal details (e.g. name, contact details including, address, date of birth, documents such as identity card / passport details / Aadhaar details / PAN / Voter ID / driving license,
             GST Certificate, Bank Account Details and/or education details) provided by you to us to avail various products/services from us.
        </h5>

        <h5 class="terms_h5">
            2 . Your details including transaction history, balances, payment details, for effecting transfer of monies through various payment channels provided by us.
        </h5>

        <h5 class="terms_h5">
            3 . financial details (e.g. billing value, discounts provided etc.) needed as part of request for some of our products/services;
        </h5>

        <h5 class="terms_h5">
            4 . images of documents/ photos required to avail any of our products/services.
        </h5>
        <h5 class="terms_h5">
            5 . voice recordings of our conversations with our customer care agent with you to address your queries/grievances;
        </h5>
        <h5 class="terms_h5">
            6 . employment details (e.g. occupation, positions held, employment history, salary and/or benefits) as part of our record retention for credit/various product evaluations or 
            required under applicable law including Prevention of Money Laundering (Maintenance of Records) Rules, 2005
        </h5>
        <h5 class="terms_h5">
            7 . specimen signature(s) for processing of your instructions received by us through our various payment and delivery channels;
        </h5>
        <h5 class="terms_h5">
            8 . opinions provided by you to us by way of feedback or responses to surveys;
        </h5>
        <h5 class="terms_h5">
            9 . information obtained from your mobile device by way of using our app like device location, communication information including contacts and call logs,
             device information (including storage, model, mobile network), transactional and promotional SMS/app notifications. This Usage Data may include information 
             such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, 
             the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
        </h5>
        <h5 class="terms_h5"><strong>Tracking & Cookies Data</strong></h5>
        <h5 class="terms_h5">We use cookies and similar tracking technologies to track the activity on our Service and hold certain information. Cookies are files with small amount 
            of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, 
            tags, and scripts to collect and track information and to improve and analyze our Service. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However,
             if you do not accept cookies, you may not be able to use some portions of our Service. No Personal Data will be collected via cookies and other tracking technology; however, 
             if you previously provided Personal Data, cookies may be tied to such information.</h5>
        
        <h5 class="terms_h5"><strong>Sharing of your Personal Data</strong></h5>
        <h5 class="terms_h5">Any Personal Data that we have access shall never be shared to third party without your consent. In various processes / submission of applications / availment of product/service offerings,
             we even seek your explicit consent to use / share your Personal Data. In our business and operational processes, we only share the data as the need arises for sharing the data to designated personnel or partners
              or service providers. We will share your data with competent/ legal/statutory/regulatory agencies / authorities or partners/service providers acting on our behalf (as the case may be) in following cases: <br>
              1 . only for enabling the provision of the products/services availed by you, strictly on a “need to know” basis and subject to applicable laws. <br>
              2 . it is directed or required by legal/regulatory / statutory / governmental authorities under applicable laws/regulations though a legally obligated request. <br>
              3 . it is required by financial institutions to verify, mitigate or prevent fraud or to manage risk or recover funds in accordance with applicable laws/regulations.    
            </h5>
        
            <h5 class="terms_h5"><strong>Usage of Your Personal Data</strong></h5>
            <h5 class="terms_h5">We use your Personal Data in our business activities for providing our or our partners’ products/services and to perform, among other actions, the following: <br>
                1 . to facilitate the transactions or report on these transactions; <br>
                2 . to undertake research and analytics for offering or improving our products/services and their security and service quality <br>
                3 . to check and process your requirements submitted to us for products/services and/or instructions or requests received from you in respect of these products/services; <br>
                4 . to share with you, updates on changes to the products/services and their terms and conditions; <br>
                5 . to take up or investigate any complaints/claims/disputes; <br>
                6 . to respond to your queries or feedback submitted by you;    <br>
                7 . to verify your identity for us to provide products/services to you; <br>
                8 . to carry credit checks, screenings or due diligence checks as lawfully required by us; <br>
                9 . to monitor and review products/services from time to time; <br>
                10 . to undertake financial/regulatory/management reporting, and create and maintain various risk management models; <br>
                11 . for conducting audits and for record keeping purposes; <br>
                12 . for selective offers and promotions.
                </h5>
        
        <h5 class="terms_h5"><strong>External processing:</strong></h5>
        <h5 class="terms_h5">We may provide your personal information to our affiliates or other trusted businesses or persons or service providers engaged by us, 
            or institutions that we partner with to assist us with providing you with products/services to better serve your needs and interests, based on your 
            instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures. We also use your Personal Data to 
            fulfill the requirements of applicable laws/regulations and/or court orders/regulatory directives received by us.   
            </h5>
        
          
        <h5 class="terms_h5"><strong>Purging of your Personal Data</strong></h5>
        <h5 class="terms_h5">1 . You may delete your HUDELS account at any point of time by making such choice in the HUDELS’s desktop website, mobile WAP site or mobile application.
             With this we will no longer provide your data for external processing as mentioned above. However, we retain your Personal Data as long as the purpose for its usage exists, 
             after which the same is disposed off by us except for any record retention required as per applicable law. <br>
             2 . The provisions of various laws require your transaction logs to be stored for longer periods post the deletion of an account. Further, in the event of the pendency of any 
              legal/regulatory proceeding or receipt of any legal and/or regulatory direction to that effect, we may be required by the law of the land to retain your Personal Data for longer periods.
            </h5>
        
    
        <h5 class="terms_h5"><strong>Links to other websites</strong></h5>
        <h5 class="terms_h5">Our website may contain links to other websites which are not maintained by us. This privacy policy only applies to us. You are requested to read the other websites’ 
            privacy policies when visiting these websites.   
            </h5>

        
        <h5 class="terms_h5"><strong>Reasonable Security Practices and Procedures</strong></h5>
        <h5 class="terms_h5">We take various steps and measures to protect the security of your Personal Data from misuse, loss, unauthorised access, modification or disclosure. 
            The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially 
            acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
            </h5>
        <h5 class="terms_h5"><strong>Children's Privacy</strong></h5>
        <h5 class="terms_h5">Our Service does not address anyone under the age of 18 ("Children"). We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent
             or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent,
              we take steps to remove that information from our servers.
            </h5>
        <h5 class="terms_h5"><strong>Contact us</strong></h5>
        <h5 class="terms_h5">You may contact us on any aspect of this policy or for any discrepancies/grievances with respect to your Personal Data, by writing to our Grievance Officer at Hudels Hospitality Services Pvt Ltd 1stFloor,
             Pandiyalil Building, PazhoorTemple Road, Piravom, Kochi 560068 varun@hudels.com You can also contact us by visiting contact us page on our website.
            </h5>
        <h5 class="terms_h5"><strong>Policy Review & Update</strong></h5>
        <h5 class="terms_h5">This policy will be reviewed by us as and when required and the same may change at any time. While we will make reasonable efforts to keep you posted on any updates to this privacy policy. You make sure that you have read,
             understood and agreed to the changes made in the privacy policy every time you access or use this website/ app.
            </h5>
    </div>
</body>
</html>
