
{% load static%}
{% include 'messages.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>deal_registerpage</title>
    
    <link rel="stylesheet" href="{% static 'src/styles/style.css' %}">
    
  </head>
  <body>

    
	<section class="reg_main">

		<form class="form" enctype="multipart/form-data" action="{% url 'register_and_add_outlet' vendor_id=vendor.id %}" method="post">
			{% csrf_token %}
		
			<p class="title">Register and Add Outlet</p>
		
			<!-- Registration Fields -->
			<div class="registration-section">
				<h2>Register</h2><br><br>
				<label for="merchant_type">Merchant Type:</label>
				<select class="input" name="merchant_type" required>
					{% for value, label in merchant_type_choices %}
						<option value="{{ value }}">{{ label }}</option>
					{% endfor %}
				</select><br><br>
		
				<label>
					<input class="input" type="text" placeholder="Merchant Name" required name="merchant_name">
				</label>
				<label>
					<input class="input" type="text" placeholder="Business Owner Name" required name="business_owner_name">
				</label>
				<label>
					<input class="input" type="text" placeholder="Merchant Address" required name="merchant_address">
				</label>
				
				<label>
					<input class="input" type="text" placeholder="Enter your city" required name="city">
				</label>
				<label>
					<input class="input" type="number" placeholder="Phone" required name="phone">
				</label>
				<label>
					<input class="input" type="number" placeholder="Contact Person" required name="contact_person">
				</label>
				<label>
					<input class="input" type="email" placeholder="Email" required name="email">
				</label>
				<label>
					<input class="input" type="text" placeholder="Username" required name="uname">
				</label>
				<label>
					<input class="input" type="password" id="pass" placeholder="Password" required name="password">
				</label>
				<label>
					<input class="input" type="password" id="confirm_pass" placeholder="Confirm Password" required name="cpassword">
				</label>
			</div>
		
			<hr>
		
			<!-- Outlet Fields -->
			<div class="outlet-section">
				<h2>Add Outlet</h2>
		
				<div class="form-group">
					<label for="item-name">Outlet Name:</label>
					<input type="text" id="item-name" name="outlet_name" required>
				</div>
				<div class="form-group">
					<label for="description">Outlet Description:</label>
					<textarea id="description" name="outlet_description" rows="4" required></textarea>
				</div>
				<div class="form-group">
					<label for="time-from">Time From:</label>
					<input type="time" id="time-from" name="start_time" required>
					<label for="time-to">To:</label>
					<input type="time" id="time-to" name="end_time" required>
				</div>
		
				<div class="form-group">
					<label for="image">Upload Image:</label>
					<input type="file" id="image" name="outlet_img" accept="image/*" required>
					<span class="file-label">Accepted formats: JPG, JPEG, PNG</span>
				</div>
			</div>
		
			<input class="submit" type="submit" value="Register and Add Outlet" name="submit">
		</form>
		
	
	</section>
	
	
  </body>
</html>




   
    